# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [208]:
filename = 'chipotle.tsv'
chipo = pd.read_table(filename)

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [12]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [15]:
for each in chipo.columns:
    print(each)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [197]:
#come back to this one

#---------------
#CORRECTIONS
#---------------

#just use the 'chipo.index' function !

chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [49]:
step_9 = chipo.groupby('item_name')\
              .sum()\
              .drop('order_id',axis='columns')\
              .sort_values(by = 'quantity',ascending=False)\
              .pipe(lambda x: x[x['quantity']==max(x['quantity'])])

step_9

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
max(step_9['quantity'])

761

### Step 11. What was the most ordered item in the choice_description column?

In [64]:
step_11 = chipo.groupby('choice_description')\
              .sum()\
              .drop('order_id',axis='columns')\
              .sort_values(by = 'quantity',ascending=False)\
              .pipe(lambda x: x[x['quantity']==max(x['quantity'])])

step_11

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were ordered in total?

In [65]:
step_11['quantity'].max()

159

### Step 13. Turn the item price into a float

In [151]:
chipo_2 = chipo.replace(regex=['\$'],value="")
chipo_2['item_price'] = chipo_2['item_price'].astype('float')

In [209]:
chipo_2.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [205]:
#CORRECT ANSWER
#dollarizer = lambda x: float(x[1:-1])
#chipo.item_price = chipo.item_price.apply(dollarizer)

#ok this makes sense, native function that just makes a float out of a string:

#chipo_2 = chipo
#to_float = lambda x: float(x[1:-1])
#chipo_2['item_price'] = chipo_2['item_price'].apply(to_float)
#chipo_2

#this logic is not correct.  What if there were one or more columns
#that did not have a dollar sign?

#the code starts from the second position and ends at the second to last position
#removing the dollar sign and the whitespace.

#### Step 13.c. Check the item price type

In [206]:
#see above

### Step 14. How much was the revenue for the period in the dataset?

In [210]:
chipo['item_price'] = chipo['item_price'].str.replace("\$","",regex=True)
chipo['item_price'] = chipo['item_price'].astype('float')

In [212]:
revenue = chipo[['quantity','item_price']].prod(axis='columns').sum()
print(f"Revenue was ${round(revenue,2)}")

Revenue was $39237.02

### Step 15. How many orders were made in the period?

In [193]:
num_orders = len(chipo['order_id'].unique())
num_orders

1834

### Step 16. What is the average revenue amount per order?

__Multiple ways to do this problem__:

In [194]:
revenue/num_orders

21.39423118865867

In [231]:
chipo = chipo.assign(revenue = chipo['quantity']*chipo['item_price'])
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [196]:
len(chipo['item_name'].unique())

50

__Or do it this way:__

In [234]:
#
chipo['item_name'].value_counts().count()

50